.historico-icon-menu {
  position: fixed;
    height: 50px;
    width: 103px;
    top: 0;
    left: 207px;
    z-index: 2;
    background: red;
    margin-top: 100px;
}

#historico-root {
  background: wheat;
  z-index: 1;
  position: absolute;
  height: 846px;
  width: 100%;
}

.nav-icon-override {
  position: absolute;
  inset: 0;
  z-index: 3;
  pointer-events: none;
}
